<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<a href="/">
    < Back</a>
        <form method="POST" action="/new">
            <h1>New Message</h1>
            <input type="text" name="author" placeholder="Name" required>
            <input type="text" name="message" placeholder="Enter a message" required>
            <input type="submit" value="Submit">
        </form>